<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    这是EMPI啊 小伙
    <form action="/empi_input/" method="POST">
        <div>
            <input type="text" name="name" placeholder="输入姓名"/>
        </div>
        <div>
            <input type="text" name="age" placeholder="输入年龄"/>
        </div>
        <div>
            <input type="text" name="weight" placeholder="输入体重"/>
        </div>
        <div>
            <input type="submit" value="提交" />
        </div>
    </form>
</body>
</html>