<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EMPI分析</title>
</head>
<body>
    这是EMPI啊 小伙
    <form action="/empi_input/" method="POST">
        <div>
            请输入姓名：
            <input type="text" name="name" placeholder="输入姓名"/>
        </div>
        <div>
            请输入性别：
            <input type="text" name="sex" placeholder="输入性别"/>
        </div>
        <div>
            请输入地址：
            <input type="text" name="addr" placeholder="输入地址"/>
        </div>
        <div>
            <input type="submit" value="提交" />
        </div>
    </form>
</body>
</html>