<!DOCTYPE html>
{% load static %}
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="stylesheet" type="text/css" href= "{% static "spark_h5/button.css" %}" media="screen">
</head>
<body style="margin-top:10px">
<div style="text-align:center;clear:both;">
</div>
    <form enctype="multipart/form-data" action="/spark_upload/" method="post">
	<input class="button gray"  type="file" name="myfile"/><div class="shine"></div></div>
    <input class="button gray" type="submit" value="upload"/>
    </form>
</div>

</body>
</html>