@media only screen and (min-width:1200px ){
*{
	margin: 0;
	padding: 0;
	font-family: "微软雅黑";
	font-size:16px;
	/*padding-top: 10px;*/
}
header{
	padding-top: 3%;
	padding-left: 2%;
	padding-bottom: 2%;
}
hr{
	padding-top: 2%;
}
.Ifo{
	/*background-color: red;*/
	margin: 0 auto;
	width: 97%;
	border-color: yellow;
	text-align: center;
	border-collapse: separate;
	border-left:#C8B9AE solid 1px;
	border-top:#C8B9AE solid 1px;
	/*visibility: hidden;*/
}
.Ifo tbody{
	
}
.Ifo td{
   width:auto;
   border-right:#C8B9AE solid 1px;
   border-bottom:#C8B9AE solid 1px;
   padding:10px 10px 6px;
   vertical-align: top;
}
.cap{
   background-color: #D7D1CB;
   line-height: 40px;
}
form{
	text-align: center;
}
form li{
	margin: 0px;
	display: inline;
	padding-right: 5%;
}
#Hname,#Hadd{
	max-width: 200px;
	width: 20%;
}
#Hbutton,#hide{
    margin: 2%;	
    width: 10%;
    max-width: 150px;
}
}
@media only screen and (min-width: 766px) and (max-width: 1199px) {
*{
	margin: 0;
	padding: 0;
	font-family: "微软雅黑";
	font-size:14px;
	/*padding-top: 10px;*/
}
header{
	padding-top: 3%;
	padding-left: 2%;
	padding-bottom: 2%;
}
hr{
	padding-top: 2%;
}
.Ifo{
	/*background-color: red;*/
	margin: 0 auto;
	width: 97%;
	border-color: yellow;
	text-align: center;
	border-collapse: separate;
	border-left:#C8B9AE solid 1px;
	border-top:#C8B9AE solid 1px;
}
.Ifo tbody{
	
}
.Ifo td{
   width:auto;
   border-right:#C8B9AE solid 1px;
   border-bottom:#C8B9AE solid 1px;
   padding:10px 10px 6px;
   vertical-align: top;
}
.cap{
   background-color: #D7D1CB;
   line-height: 40px;
}
form{
	text-align: center;
}
form li{
	margin: 0px;
	display: inline;
	padding-right: 5%;
}
#Hname,#Hadd{
	max-width: 200px;
	width: 20%;
}
#Hbutton{
    margin: 2%;	
    width: 8%;
    max-width: 100px;
}	
}
@media only screen and (max-width:767px ) {
*{
	margin: 0;
	padding: 0;
	font-family: "微软雅黑";
	font-size:12px;
	/*padding-top: 10px;*/
}
header{
	padding-top: 3%;
	padding-left: 2%;
	padding-bottom: 2%;
}
hr{
	padding-top: 2%;
}
.Ifo{
	/*background-color: red;*/
	margin: 0 auto;
	width: 97%;
	border-color: yellow;
	text-align: center;
	border-collapse: separate;
	border-left:#C8B9AE solid 1px;
	border-top:#C8B9AE solid 1px;
}
.Ifo tbody{
	
}
.Ifo td{
   width:auto;
   border-right:#C8B9AE solid 1px;
   border-bottom:#C8B9AE solid 1px;
   /*padding:5px 5px 3px;*/
   vertical-align: top;
}
.cap{
   background-color: #D7D1CB;
   line-height: 40px;
}
form{
	text-align: center;
}
form li{
	margin: 0px;
	/*display: inline;*/
	/*padding-right: 5%;*/
}
#Hname,#Hadd{
	max-width: 200px;
	width: 20%;
}
#Hbutton{
    margin: 2%;	
    width: 8%;
    max-width: 100px;
}	
}
